.button__big {
  padding: 1.5rem 6rem;
  border-radius: 4.5rem;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border: solid 7px rgba(255, 255, 255, 0.8);
  color: var(--color-white);
  font-weight: 500;
  font-size: 1.7rem;
}

.button__big.--primary {
  background: radial-gradient(var(--color-primary-light), var(--color-primary));
}

.button__big.--secondary {
  background: radial-gradient(
    var(--color-secondary-light),
    var(--color-secondary)
  );
}

.button__big.--gray {
  background: radial-gradient(var(--color-gray-light), var(--color-gray));
}

.button__circle {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background: var(--color-secondary-light);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.button__circle i {
  color: var(--color-secondary);
  font-size: 1.1em;
}
