.gamePage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.gameMainWrapper {
  width: calc(100vw - 10rem);
  align-self: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 0.5rem;
  margin-top: -10rem;
}

/*
   Score
*/
.scoreWrapper {
  display: flex;
  align-items: center;
  align-self: center;
}

.scoreSubWrapper {
  display: flex;
  align-items: center;
}

.scoreDivider {
  font-size: 4rem;
  margin: 0 1.5rem;
  color: var(--color-gray-light);
}

.score.--user {
  color: var(--color-primary);
  text-shadow: 0 2px 5px var(--color-primary-light);
}

.score.--opponent {
  color: var(--color-gray);
  font-size: 0.7rem;
  text-shadow: 0 2px 5px var(--color-gray-light);
  opacity: 0.8;
}

.score__text {
  font-weight: bold;
  font-size: 5.8em;
  margin-left: 1rem;
}

.score__icon {
  font-size: 4.8em;
}

/*
    Powerups
*/

.powerups {
  display: flex;
  justify-content: center;
}

.powerup {
  display: flex;
  font-size: 2rem;
}

.powerup__item:not(:last-child) {
  margin-left: 1.5rem;
}
